{
  "extends": ["airbnb", "plugin:prettier/recommended"],
  "parser": "babel-eslint",
  "env": {
    "jest": true
  },
  "rules": {
    "no-use-before-define": "off",
    "react/jsx-filename-extension": "off",
    "react/prop-types": "off",
    "comma-dangle": "off",
    "react/destructuring-assignment": "off",
    "react/jsx-one-expression-per-line": "off"
  },
  "globals": {
    "fetch": "readable",
    "FormData": "readable"
  }
}
